aside.logo{
    background-color: var(--bg-dark);
    display:grid;
    justify-content: center;
    align-items: center;
}
aside.logo img{
    padding:0px 15px;
    width: 100%;
    height: 90px;
}

@media(max-width: 500px){
    aside.logo img{
        display: none;
    }
}